.AddRoomForm{
	grid-area: arf;
	height: 100%;
	width: 100%;
	background-color: $main-grey;	
	
	@include ele(input) {
		@include reset-origin-style;
		height: 100%;
		width: 100%;
		padding: 10px;
		background-color: $main-grey;
		font-size: 1.2em;		

		&:focus{
			color: #fff;
			border: 1px solid $main-green;
		}
		&::placeholder{
			color: #fff;
		}
	}		
}