.ChatRoom{	
	height: 100%;
	display: grid;
	grid-template-columns: 0 1fr;
	grid-template-rows: 1fr;
  grid-template-areas:
		"cp chat";

	@include md{
		grid-template-columns: 20% 1fr;
	}

	@include xl{
		grid-template-columns: 10% 1fr;
	}				

	@include ele(toggled) {
		grid-template-columns: 1fr 1fr;
	}

	@include ele(controllpanel) {
		grid-area: cp;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr) + 60px;
		grid-template-areas:
			"ul"
			"rl"
			"arf";
		overflow: hidden;			
	}

	@include ele(chat) {
		position: relative;
		grid-area: chat;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 60px;
		grid-template-areas:
			"ml"
			"smf";
		overflow: hidden;			
	}

	@include ele(toggleBtn) {
		position: absolute;
		width: 50px;
		height: 50px;
		right: 20px; 
		top: 20px;
		line-height: 50px;
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-size: 3em;
		font-weight: 700;
		border-radius: 50%;
		background-color: $main-green;
		color: $main-white;
		transition: background-color 0.2s;

		@include md{
			display: none;
		}

		@include mod(closed) {
			line-height: 40px;
			background-color: $main-red;
		}		
	}			
}