.MessageList{
	grid-area: ml;
	background-color: $main-blue;
	overflow-y: auto;

	@include ele(greetings) {
		height: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include mod(topic) {
			margin: 10px;
			font-size: 4em;
			color: $main-white;
		}

		@include mod(message) {
			margin: 0;
			font-size: 1.5em;
			color: $main-grey;
			text-align: center;
		}					
	}	
}