.Message{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 20px;
	margin: 10px;

	@include ele(user) {
		font-family: 'Oswald', sans-serif;
		margin-bottom: 5px;
		font-size: 1.2em;
		font-weight: 700;
		color: $main-white;
	}

	@include ele(text) {
		font-family: 'Kodchasan', sans-serif;
		padding: 20px;
		margin-bottom: 5px;
		background-color: $main-grey;
		border-radius: 20px;
		color: $main-white;
	}

	@include ele(created) {
		font-size: 0.8em;
		color: $main-grey;
	}		
}