.RoomList{
	grid-area: rl;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-y: auto;
	background-color: $main-blue;
	color: $main-white;
	font-family: 'Oswald', sans-serif;
	border-top: 1.5px solid $main-grey;
	border-right: 3px solid $main-grey;

	@include ele(topic) {
		width: 100%;
		height: 40px;		
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5em;
		background-color: $main-grey;
	}	
}