.SendMsgForm{
	grid-area: smf;
	display: flex;
	height: 100%;
	width: 100%;
	background-color: $main-grey;	
	
	@include ele(input) {
		@include reset-origin-style;
		height: 100%;
		width: 100%;
		padding: 10px;		
		background-color: $main-grey;		
		font-size: 1.2em;
		border-right: 3px solid $main-blue;
		transition: all 0.2s;

		&:focus{
			color: #fff;
			border: 1px solid $main-green;
		}
		&::placeholder{
			color: #fff;
		}
	}

	@include ele(submit) {
		@include reset-input-submit;
		width: 150px;
		background-color: $main-grey;
		color: $main-white;
		font-size: 1.2em;		
		transition: all 0.2s;		

		@include mod(active) {
			@media (hover: hover) {
				&:hover{
					cursor: pointer;
					font-size: 1.6em;
					font-weight: 700;
					background-color: $main-green;
				}
			}			
		}		

		@include mod(inactive) {
			background-color: $main-red;
		}
	}	
}