// custom variables
$main-green: #10FF00;
$main-grey: #181818;
$main-white: #FFFFFF;
$main-blue: #2B2E33;
$main-red: #D43F3A;

// reset input submit
@mixin reset-input-submit {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;	
}
// debug purposes
@mixin debug-layout {
  outline: 1px double red;
  & > * {
  	outline: 1px double blue;
  }
}
// reset element styles
@mixin reset-origin-style {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
// variables for media queries
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// mixins for media queries
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices

// mixins for handling BEM workflow
@mixin ele($element){
	&__#{$element} {
		@content;
	}
}

@mixin mod($modifier){
	&--#{$modifier} {
		@content;
	}
}