@import url("https://fonts.googleapis.com/css?family=Kodchasan|Oswald");
.ChatRoom {
  height: 100%;
  display: grid;
  grid-template-columns: 0 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "cp chat"; }
  @media (min-width: 768px) {
    .ChatRoom {
      grid-template-columns: 20% 1fr; } }
  @media (min-width: 1200px) {
    .ChatRoom {
      grid-template-columns: 10% 1fr; } }
  .ChatRoom__toggled {
    grid-template-columns: 1fr 1fr; }
  .ChatRoom__controllpanel {
    grid-area: cp;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr)60px;
    grid-template-areas: "ul" "rl" "arf";
    overflow: hidden; }
  .ChatRoom__chat {
    position: relative;
    grid-area: chat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
    grid-template-areas: "ml" "smf";
    overflow: hidden; }
  .ChatRoom__toggleBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 20px;
    line-height: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 700;
    border-radius: 50%;
    background-color: #10FF00;
    color: #FFFFFF;
    transition: background-color 0.2s; }
    @media (min-width: 768px) {
      .ChatRoom__toggleBtn {
        display: none; } }
    .ChatRoom__toggleBtn--closed {
      line-height: 40px;
      background-color: #D43F3A; }

.AddRoomForm {
  grid-area: arf;
  height: 100%;
  width: 100%;
  background-color: #181818; }
  .AddRoomForm__input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #181818;
    font-size: 1.2em; }
    .AddRoomForm__input:focus {
      color: #fff;
      border: 1px solid #10FF00; }
    .AddRoomForm__input::placeholder {
      color: #fff; }

.Message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  margin: 10px; }
  .Message__user {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF; }
  .Message__text {
    font-family: 'Kodchasan', sans-serif;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #181818;
    border-radius: 20px;
    color: #FFFFFF; }
  .Message__created {
    font-size: 0.8em;
    color: #181818; }

.MessageList {
  grid-area: ml;
  background-color: #2B2E33;
  overflow-y: auto; }
  .MessageList__greetings {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .MessageList__greetings--topic {
      margin: 10px;
      font-size: 4em;
      color: #FFFFFF; }
    .MessageList__greetings--message {
      margin: 0;
      font-size: 1.5em;
      color: #181818;
      text-align: center; }

.RoomList {
  grid-area: rl;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  background-color: #2B2E33;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  border-top: 1.5px solid #181818;
  border-right: 3px solid #181818; }
  .RoomList__topic {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #181818; }

.Room {
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s; }
  .Room:hover {
    color: #10FF00; }
  .Room.active {
    color: #10FF00; }

.SendMsgForm {
  grid-area: smf;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #181818; }
  .SendMsgForm__input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #181818;
    font-size: 1.2em;
    border-right: 3px solid #2B2E33;
    transition: all 0.2s; }
    .SendMsgForm__input:focus {
      color: #fff;
      border: 1px solid #10FF00; }
    .SendMsgForm__input::placeholder {
      color: #fff; }
  .SendMsgForm__submit {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    /* for input */
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    width: 150px;
    background-color: #181818;
    color: #FFFFFF;
    font-size: 1.2em;
    transition: all 0.2s; }
    @media (hover: hover) {
      .SendMsgForm__submit--active:hover {
        cursor: pointer;
        font-size: 1.6em;
        font-weight: 700;
        background-color: #10FF00; } }
    .SendMsgForm__submit--inactive {
      background-color: #D43F3A; }

.UserList {
  grid-area: ul;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  background-color: #2B2E33;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1.5px solid #181818;
  border-right: 3px solid #181818; }
  .UserList__topic {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #181818; }

.User {
  font-size: 1.2em;
  padding: 5px; }

* {
  box-sizing: border-box; }

.App {
  height: 100vh;
  width: 100vw;
  background-color: #eee;
  font-family: 'Kodchasan', sans-serif;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #181818; }
