// import mixins
@import './styles/mixins';
// import modules
@import './styles/modules/ChatRoom';
@import './styles/modules/AddRoomForm';
@import './styles/modules/Message';
@import './styles/modules/MessageList';
@import './styles/modules/RoomList';
@import './styles/modules/Room';
@import './styles/modules/SendMsgForm';
@import './styles/modules/UserList';
@import './styles/modules/User';

@import url('https://fonts.googleapis.com/css?family=Kodchasan|Oswald');

*{
	box-sizing: border-box;
}

.App{
	height: 100vh;
	width: 100vw;
	background-color: #eee;
	font-family: 'Kodchasan', sans-serif;
	overflow: hidden;
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: $main-grey;	
}